@model IEnumerable<Employee>

<div class="row">
    @foreach (var employee in Model)
    {
        var fileName = employee.PhotoFileName ?? "human-avatar.png";
        var photoPath = System.IO.Path.Combine("~/images", fileName);
        <div class="card m-3">
            <div class="card-text">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top img-employee" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <!--Details action is encrypted to demonstrate query string encryption-->
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.EncryptedId" class="btn btn-primary">View</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }

</div>